h1 {
    color: green;
}

p b {
    color: blue:
}

.bg-image {
    background-image: $thumbsUp;
  }
  
  .horizontalRepeat {
    background-repeat: $horizontalRepeat;
  }
  
  .verticalRepeat {
    background-repeat: $verticalRepeat;
  }
  
  .width {
    width: 100vw;
  }
  
  .height {
    height: 200px;
  }
  
  .size7 {
  background-size: 7%; 
  }
  
  .size50 {
  background-size: 50%; 
  }
  
  .stretch {
  background-size: 25% 100%;
  }
  
  .gradient {
  background-image: $darkGradient;
  }