//Custom colors
$darkRed: rgba(120, 0, 0, 1);
$darkGreen: rgba(2, 53, 2, 1);
$lightBlue: rgb(0, 0, 255, 1);

$primaryFont: sans-serif;
$secondaryFront: fantasy;

// @font-face {
// font-family: ;
// src: ; 
// }

@mixin redText {
    color: red;
}

p {
    @include redText;
}

.boxShadow {
    box-shadow: 5px 5px rgb(68, 16, 16);
  }
  
.textShadow {
    text-shadow: 3px 3px rgb(18, 2, 2);
  }

@mixin boxShadow {
    box-shadow: 5px 5px rgb(68, 16, 16);
  }
  @mixin textShadow {
    text-shadow: 3px 3px rgb(18, 2, 2);
  }
  
  #mixin-example {
    @include boxShadow;
    @include textShadow;
  }

  @mixin animation1 {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
}

@mixin animation2 {
    transform: scale(2) rotate(15deg);
    transition: transform 2s;
}

#mixin-button {
    @include animation1;

    &:hover {
    @include animation2;
    }
}

@mixin animation {
    transform: scale(1) rotate(0deg);
    transition: transform 1s;
        
    &:hover {
    transform: scale(0.5) rotate(-10deg);
    transition: transform 2s;
    }
}

#animated-button {
    @include animation;
}

#subtitle {
    width: fit-content;
    @include animation;
  }

main {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

pre {
    code {
        color: $darkRed
    }
}

h1 {
    color: green;
    width: fit-content;

    &:hover {
        color: $darkRed
    }
}

// h1.hover {
//     color: $darkRed
// }

p b {
    color: blue;
}

h2 { 
    color: $darkGreen;
}

h3 {
    color: $darkRed;
}

h4 {
    color: $lightBlue;
}

.bg-image {
    background-image: $thumbsUp;
 }

 $myColor: purple;
 pre{ 
    i {
   color:$myColor;
   }
}
  
// .horizontalRepeat {
//  background-repeat: $horizontalRepeat;
// }
  
// .verticalRepeat {
// background-repeat: $verticalRepeat;
// }
  
// .width {
// width: 100vw;
// }
  
// .height {
// height: 200px;
// }
  
// .size7 {
// background-size: 7%; 
// }
  
// .size50 {
// background-size: 50%; 
// }
  
// .stretch {
// background-size: 25% 100%;
// }
  
// $darkGradient: linear-gradient(90deg, gray, black 10% 90%, gray);
// $lightGradient: linear-gradient(90deg, gray, white 10% 90%, gray);
// .gradient {
// background-image: $darkGradient;
// }


